body{
    color: black;
    background-color: rgb(234, 234, 234);
    font-family: serif,system-ui;
    line-height: 1.5;
}

img{
    width: 100%;
    height: auto;
    filter: grayscale(100%);
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    opacity: 0.7;
}

p{
    margin: 0;
    font-size: 16px;
    font-family: sans-serif;
    line-height: 2;
    letter-spacing: 2.5px;
}

.btn{
    width: 100%;
    border: solid 2px rgb(115, 115, 115);
    font-size: 32px;
    text-align: center;
    padding: 56px 0;
}

.btn:hover{
    text-decoration: underline;
    color: white;
    border: solid 2px white;
    background-color: black;
}

.content-left{
    float: left;
}

.content-right{
    width: 70%;
    float: right;
}

.container{
    width: 95%;
    max-width: 980px;
    margin: auto;
}

.clear::after{
    content: "";
    clear: both;
    display: block;
}

/* ------------
header
------------- */
header{
    font-family: serif;
    width: 30%;
    height: 100vh;
    position: fixed;
    z-index: 1;
    padding: 48px 72px ;
}

.header-title{
    font-size: 32px;
    font-weight: normal;
}

.nav-item{
    margin-bottom: 8px;
}

.nav-float-wrapper{
    display: none;
}

/* ----------------
section共通CSS
---------------- */
.section{
    padding: 96px 0;
}

.section-title{
    font-weight: bold;
    font-size: 64px;
    margin-bottom: 96px;
}

.message-wrapper{
    width: 75%;
}

.other-title{
    font-size: 28px;
}

.other-message{
    font-weight: 550;
}

/* ------------
top
------------- */
.top-title{
    font-family:serif;
    font-weight: normal;
    font-size: 103px;
    line-height: 1;
    margin: 0;
}

.top-subtitle{
    margin-bottom: 56px;
}

.top-detail{
    margin-bottom: 8px;
    font-size: 18px;
}

/* --------------------
about
------------------- */
.about-skill{
    margin-bottom: 16px;
}

.profile-img{
    margin-top: 96px;
}

.profile-message{
    font-weight: 500;
}

/* -----------------
Works
----------------- */
.work-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.work-item{
    width: 45%;
    height: auto;
    padding-bottom: 16px;
    border-bottom: solid 2px rgb(193, 193, 193);
}

/* ------------
Message
--------------- */
.client-message{
    font-weight: 500;
}

/* ------------
Service
------------- */
.service-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    margin-bottom: 40px;
}

.service-item{
    width: 35%;
    height: auto;
    margin: 10px;    padding: 16px 0;
    border: solid 2px rgb(193, 193, 193);
}

.service-icon{
    width: 35%;
    display: block;
    margin: 0 auto;
    margin-bottom: 8px;
}

.service-title{
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: normal;
}

.service-message{
    padding: 0 16px;
}

/* ---------------
Price
--------------- */
.price-title{
    margin-bottom: 56px;
}

.price-table{
    width: 75%;
    margin-bottom: 48px;
    border: solid 1px rgb(170, 169, 169);
}

.price-table p{
    line-height: normal;
}

.table-header-wrapper{
    text-align: center;
    padding: 8px;
}

.table-header-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 24px;
}

.header-price{
    font-size: 28px;
    font-weight: 550;
    letter-spacing: 1.5px;
}

.price-header-span{
    font-size: 16px;
    font-weight: 500;
}

th{
    border-bottom: solid 1px black;
    background-color: rgb(252, 241, 228);
}

td{
    padding: 8px;
    border-bottom: solid 1px rgba(193, 193, 193, 0.622);
}

.price-table td:last-child{
    border-bottom: none;
}

.price-data{
    letter-spacing: 1.5px;
    font-size: 22px;
    font-weight: 550;
}
.price-data-span{
    font-size: 14px;
    font-weight: 500;
}

.price-message{
    margin-bottom: 32px;
}

.price-design{
    margin-top: 64px;
}

/* -----------------
Work flow
----------------- */
.work-flow-list-wrapper{
    width: 75%;
}

.work-flow-list-item{
    margin-bottom: 32px;
}

.work-flow-list-wrapper li:last-child{
    margin-bottom: 0;
}

/* --------------
Contact共通
------------- */
.icon-item{
    width: 58px;
    margin-right: 56px;
}

.icon-title{
    font-size: clamp(8px, 100vw,12px);
}

.contact-img{
    width: 80%;
    margin-bottom: 8px;
}

/* ------------------
Contact
------------------ */
.contact-page{
    text-align: center;
}

.contact-container{
    width: 100%;
}

.contact-btn{
    margin-bottom: 112px;
}

.contact-icon-wrapper{
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 48px;
}

.top-btn{
    text-align: center;
    font-size: 20px;
    margin-top: 96px;
}

/* -----------------
contact.html
-------------- */
.icon-wrapper{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 112px;
}

.contact-email{
    font-size: 32px;
    font-weight: 600;
}

/* --------------
footer
------------- */
.footer{
    font-size: 12px;
    opacity: 0.5;
}

/* -----------------
タブレット横向きCSS
-------------------- */
@media screen and (max-width:1080px){
.message-wrapper{
        width: 90%;
}

.service-item{
    width: 44%;
    margin: 10px 20px 10px 0;
}

.price-table{
    width: 90%;
}

.work-flow-list-wrapper{
    width: 90%;
}
}

/* ------------------
タブレット縦向きCSS
------------------- */
@media screen and (max-width:834px){
.message-wrapper{
    width: 100%;
}

.service-wrapper{
    justify-content: space-around;
}

.service-item{
    width: 44%;
    margin: 16px 0;
}

.price-table{
    width: 100%;
}

.work-flow-list-wrapper{
    width: 100%;
}
}

/* ----------------
スマホ用CSS
--------------- */
@media screen and (max-width:768px){
.container{
    width: 90%;
    margin: 0 auto;
}

p{
    font-size: 12px;
}

.btn{
    font-size: 20px;
    padding: 28px 0;
}

.content-right{
    width: 100%;
    float: none;
}
    
    /* ------------
    header
    ------------- */
.menu-btn{
    position: fixed;
    top: 15px;
    right: 0px;
    z-index: 4;
    width: 48px;
    height: 48px;
    border:solid 1px rgb(153, 153, 153);
    border-radius: 999px;
    padding: 0;
    background-color: rgba(240, 248, 255, 0);
}

.btn-line,.btn-line2,.btn-line3{
    display: block;
    width: 50%;
    height: 1px;
    margin: 0 auto;
    background-color: black;
    transition: .2s;
}

.btn-line2{
    transform: translateY(-8px);
}

.btn-line3{
    transform: translateY(6px);
}

.content-left{
    width: 100%;
    position: fixed;
    right: -100%;
    z-index: 3;
    float: none;
    background-color: black;
}

header{
    width: 100%;
    position: static;
    padding: 24px 0;
}

.header-title{
    text-align: center;
    font-size: 56px;
    margin-bottom: 32px;
}

.nav-item{
    font-size: 24px;
    margin-bottom: 8px;
    text-align: center;
}

.nav-float-wrapper{
    display: block;
    padding: 32px 0;
}

.nav-left{
    width: 50%;
    float: left;
    padding-top: 12px;
    padding-left: 12px;
}

.nav-mobile-color{
    color: white;
}

.mobile-nav-color{
    color: rgba(255, 255, 255, 0.626);
}

.nav-right{
    width: 50%;
    float: right;
}

.nav-img{
    filter: none;
}

    /* --------------------
    top
    --------------------- */
.top-title{
    font-size: 52px;
    margin-bottom: 12px;
}

.top-subtitle{
    font-size: 16px;
}

.top-detail{
    margin-bottom: 8px;
    font-size: 12px;
}

/* ----------------
section共通CSS
---------------- */
.section{
    padding: 80px 0;
}

.section-title{
    font-size: 32px;
    margin-bottom: 80px;
}

.other-title{
    font-size: 27.5px;
}

.other-message{
    font-size: 18px;
}

/* 
--------------
about
--------------- */
.about-skill{
    font-size: 18px;
}

.profile-message{
    font-size: 18px;
}

.profile-img{
    margin-top: 80px;
}

/* ----------------
work
---------------- */
.work-wrapper{
    flex-direction: column;
}

.work-wrapper div:last-child{
    margin-bottom: 0;
}

.work-item{
    width: 100%;
    margin-bottom: 40px;
}

/* ---------------
message
---------------- */
.client-message{
    font-size: 18px;
}

/* -------------------
service
--------------- */
.service-wrapper{
    flex-direction: column;
    margin-bottom: 40px;
}

.service-item{
    width: 100%;
    margin: 0;
    margin-bottom: 40px;
}

.service-title{
    font-size: 18px;
}

.service-message{
    font-size: 12px;
}

/* -------------
price
------------- */
.price-title{
    font-size: 27.5px;
}

.table-header-title{
    font-size: 18px;
}

.header-price{
    font-size: 32px;
}

.price-header-span{
    font-size: 10px;
}

td{
    font-size: 12px;
    padding: 16px 8px;
}

.price-data{
    font-size: 30px;
}

.price-data-span{
    font-size: 16px;
}

.price-message{
    font-size: 18px;
}

/* -----------------
work flow
--------------- */
.work-flow-list-wrapper p{
    font-size: 18px;
}

.work-flow-title{
    font-size: 22.5px;
}

/* -------------
contact
-------------- */
.contact-container{
    margin: 0 auto;
}

.contact-icon-wrapper{
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 48px;
}

.icon-title{
    font-size: 10px;
}

.top-btn{
    font-size: 12px;
}

/* -----------------
contact.html
-------------- */
.contact-message{
    font-size: 18px;
}

.icon-wrapper{
    width: 100%;
}

.contact-icon-item{
    width: 48px;
    margin: 0 20px;
}

.contact-email{
    font-size: 20px;
    font-weight: 600;
}

/* -------------
footer
------------- */
.privacy{
    font-size: 10px;
}

}
